<div class="ui">
  <div class="wrapper">
    <div class="recorder">

      <div class="preview">
        <video #videoElement [class.view]="videoBlobUrl" poster="assets/video-placeholder.jpg">
          <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
        </video>
        <div class="controller" *ngIf="!videoBlobUrl">
          <button type="button" (click)="toggleRecording()" [class.recording]="isVideoRecording">
            <ion-icon [name]="isVideoRecording ? 'stop' : 'videocam'"></ion-icon>
          </button>
          <div class="timer" id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl">{{ videoRecordedTime }}</div>
        </div>
        <div class="controller multi" *ngIf="!isVideoRecording && videoBlobUrl">
          <!-- 
            <button class="start-button" *ngIf="!isVideoRecording && !videoBlobUrl" (click)="startVideoRecording()">Start
              Video Recording</button>
            <button class="stop-button" *ngIf="isVideoRecording && !videoBlobUrl" (click)="stopVideoRecording()">Stop Video
              Recording</button>
            <button class="download-button" *ngIf="!isVideoRecording && videoBlobUrl"
              (click)="downloadVideoRecordedData()">Download Video Recording</button> -->
          <button class="cancel" (click)="clearVideoRecordedData()">Clear</button>
          <button class="save" (click)="continue()">
            Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>